<div class="custom-checkboxes">
  <label>
    <input type="checkbox" name="properties[Extra Service 1]" value="5">
    Extra Service 1 (+$5)
  </label><br>
  <label>
    <input type="checkbox" name="properties[Extra Service 2]" value="5">
    Extra Service 2 (+$5)
  </label><br>
  <label>
    <input type="checkbox" name="properties[Extra Service 3]" value="5">
    Extra Service 3 (+$5)
  </label>
</div>

